[submodule "vendor/websocket-server"]
	path = vendor/websocket-server
	url = http://github.com/miksago/node-websocket-server.git
[submodule "vendor/codemirror"]
	path = vendor/codemirror
	url = http://marijn.haverbeke.nl/git/codemirror
