//h1= title                                                 
div#codewrap
  textarea#code
    | var sys = require('sys');\nsetTimeout(function() {\n  sys.print('is ');\n}, 1000);\nsetTimeout(function() {\n  sys.puts('awesome!');\n}, 2000);\nsys.print('Async ');
input(id: 'run', value: 'Run!', type: 'submit', style: 'display: block')
div#response
script(type: "text/javascript", src: "/javascripts/jquery.js")
script(type: "text/javascript", src: "/javascripts/ajaxstream.js")
script(type: "text/javascript", src: "/javascripts/socket.js")
script(type: "text/javascript", src: "/javascripts/codemirror/js/codemirror.js")
script(type: "text/javascript", src: "/javascripts/nodejo.js")
:javascript
  | var editor = CodeMirror.fromTextArea('code', {
  |   height: '200px',
  |   parserfile: ['tokenizejavascript.js', 'parsejavascript.js'],
  |   stylesheet: ['/javascripts/codemirror/css/nodejo.jscolors.css'],
  |   path: '/javascripts/codemirror/js/',
  |   tabMode: 'spaces'
  | });