h1= title
p Welcome to #{title}!
p Enter some code and press run!
p Code:
textarea#code(rows: '10', cols: '80')
  | var sys = require('sys');\n
  | setTimeout(function() {\n
  |     sys.print('is ');\n
  | }, 1000);\n
  | setTimeout(function() {\n
  |     sys.puts('awesome!');\n 
  | }, 2000);\n
  | sys.print('Async ');
input(id: 'submit', value: 'Run!', type: 'submit', style: 'display: block')
p Result:
div#response
script(type: "text/javascript", src: "/javascripts/jquery.js")
script(type: "text/javascript", src: "/javascripts/ajaxstream.js")
script(type: "text/javascript", src: "/javascripts/nodejo.js")