section
  span.group(id: 'name', contenteditable: 'true')
    | Enter group name..  

aside#snippets
section#leftcol 
  textarea#code
    | var assert = require('assert');\n\n// implementation\n\ntry {\n\n  // assert.implementationWorks()\n\n} catch (e) {\n  return console.log('Tests failed: ' + e);\n}\nconsole.log('Tests passed.')
        
section#rightcol
  pre#coderesponse

section#help Press Ctrl + Enter to run your code!
script(type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")  
script(type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js")
script(type: "text/javascript", src: "/javascripts/json.js")
script(type: "text/javascript", src: "/javascripts/messageHandler.js")
script(type: "text/javascript", src: "/javascripts/ajaxstream.js")
script(type: "text/javascript", src: "/javascripts/codemirror/codemirror.js")
script(type: "text/javascript", src: "/javascripts/snippets.js")
script(type: "text/javascript", src: "/javascripts/nodejo.js")
:javascript
  | var editor = CodeMirror.fromTextArea('code', {
  |   height: '70%',              
  |   parserfile: ['tokenizejavascript.js', 'parsejavascript.js'],
  |   stylesheet: ['/stylesheets/nodejo.jscolors.css'],
  |   path: '/javascripts/codemirror/',
  |   tabMode: 'indent',
  |   indentUnit: '2',
  |   initCallback: function() { $(editor.wrapping).fadeIn(100); $('#help').fadeIn(100); }
  | });          
  | nodejo.init({
  |  editor: editor,     
  |  nameSelector: '#name',
  |  responseSelector: '#coderesponse', 
  |  wsurl: 'ws://127.0.0.1:3000/'
  | });