//h1= title                                                 
div#codewrap
  textarea#code
    | var assert = require('assert');\n// implementation\ntry {\n  // assert.implementationWorks()\n} catch (e) {\n  return console.log('Tests failed: ' + e);\n}\nconsole.log('Tests passed.')
input(id: 'run', value: 'Run!', type: 'submit', style: 'display: block')
div#coderesponse      
div#snippets
script(type: "text/javascript", src: "/javascripts/jquery.js")
script(type: "text/javascript", src: "/javascripts/json.js")
script(type: "text/javascript", src: "/javascripts/ajaxstream.js")
script(type: "text/javascript", src: "/javascripts/socket.js")
script(type: "text/javascript", src: "/javascripts/codemirror/codemirror.js")
script(type: "text/javascript", src: "/javascripts/snippets.js")
script(type: "text/javascript", src: "/javascripts/nodejo.js")
:javascript
  | var editor = CodeMirror.fromTextArea('code', {
  |   height: '200px',
  |   parserfile: ['tokenizejavascript.js', 'parsejavascript.js'],
  |   stylesheet: ['/stylesheets/nodejo.jscolors.css'],
  |   path: '/javascripts/codemirror/',
  |   tabMode: 'spaces'
  | });
