@darkgrey: #222;
@lightgrey: #333;
@lighttext: white;
@darktext: #555;   

body {
  font: 1.5em monospace;
  background-color: @lightgrey;  
  height: 100%;
}                  
aside,
section {
  margin: 2em 2em 0 2em;
}
aside ul {
  list-style-type: none;
  overflow: hidden;
  border: 1px solid black;
  white-space: nowrap;
  padding: 0;        
  margin: 0;
  cursor: pointer;
} 
aside ul, aside ul li {
  height: 3em;
}
aside ul li:hover {
  background-color: @lightgrey;
  color: @lighttext;
}                   
aside ul li {
  display: inline;
  line-height: 3em;  
  padding: 1em;      
  border-right: 1px solid black;
  background-color: @darkgrey;    
  color: @darktext;      
}
#leftcol {             
  float: left;
  width: 50%;
} 
#rightcol {        
  float: left;
  width: 30%;
}             
#coderesponse {
  float: left;
  padding: 1em 0;
  margin: 0;
  color: @lighttext;
}                    
pre {
  margin: 0 auto;
}
#help {
  clear: both;
  padding: 2em 0 0 0;
  color: @darktext;
  text-align: center;
}     
#help,           
#code,
.CodeMirror-wrapping {
  display: none;
}
@font-face {
  font-family: Diavlo;
	src: url(/fonts/Diavlo_LIGHT_II_37.otf) format("opentype"); /* License: A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}
.group {
  font-family: Diavlo;
  font-size: 1.6em;  
}
