body {
  font: 1.5em monospace;
  background-color: #333333;
  height: 100%;
}
aside, section {
  margin: 1.5em 1.5em 0 1.5em;
}
aside ul {
  list-style-type: none;
  overflow: hidden;
  -webkit-border-radius: 0.5em;
  white-space: nowrap;
  background-color: #222222;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
aside ul, aside ul li {
  height: 2.7em;
}
aside ul li:hover {
  color: white;
}
aside ul li {
  display: inline;
  line-height: 2.7em;
  padding: 1em;
  border-right: 0.2em dashed #333333;
  background-color: #222222;
  color: #555555;
}
#leftcol {
  float: left;
  width: 50%;
}
#rightcol {
  float: left;
  width: 30%;
}
#coderesponse {
  padding: 1em 0;
  margin: 0;
  color: white;
}
pre {
  margin: 0 auto;
}
#help {
  clear: both;
  padding: 2em 0 0 0;
  color: #555555;
  text-align: center;
}
#help, #code, .CodeMirror-wrapping {
  display: none;
}
#codewrap {
  background-color: #222222;
  padding: 1em;
  margin: 0;
  -webkit-border-radius: 0.5em;
}
@font-face {
  font-family: Diavlo;
  src: url(/fonts/Diavlo_LIGHT_II_37.otf) format("opentype");/* License: A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}
.group:hover {
  border: 0.07em dashed #222222;
}
.group {
  border: 0.07em solid transparent;
  -webkit-border-radius: 0.22em;
  font-family: Diavlo;
  font-size: 1.6em;
  padding: 0.2em 0.1em 0.1em 0;
}
